
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<section class="container">

    <form method="POST" action="#" th:action="@{/post}">
        <h2 class="form-label">Mensagem</h2>
        <textarea class="form-control" id="mensagem" name="mensagem" row="10" th:text="${post.mensagem}">

    </textarea>

        <h2>Tags</h2>
        <label class="form-label" for="tag[0]">Tag 1:</label>
        <input class="form-control" type="text" id="tag[0]" name="tags[0].nome">
        <label class="form-label" for="tag[1]">Tag 2:</label>
        <input class="form-control" type="text" id="tag[1]" name="tags[1].nome">
        <label class="form-label" for="tag[2]">Tag 3:</label>
        <input class="form-control" type="text" id="tag[2]" name="tags[2].nome">
        <label class="form-label" for="tag[3]">Tag 4:</label>
        <input class="form-control" type="text" id="tag[3]" name="tags[3].nome">
        <input class="btn btn-primary" type="submit" value="Enviar">
    </form>
    <!--    <pre th:text="${post.mensagem}">-->
    <!--        Atirei o pau no gato to to-->
    <!--        mas o gato to to-->
    <!--        não morreu reu reu-->
    <!--        dona chica ca ca-->
    <!--        indignou-se se se-->
    <!--    </pre>-->

    <!--    <p>Por <span th:text="${post.usuario.nome}"> João da Silva</span> em-->
    <!--        <span th:text="${#temporals.format(post.dataPostagem, 'dd/MM/yyyy HH:mm:ss')}">10/01/2005 10:04:01</span></p>-->

</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>